# Git
.git
.gitignore

# Docker
.docker

# Python - the pycache created will be 4 local os by default
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/